@use "@/styles/variables" as *;

header {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #272727e6;
  height: 50px;
  width: 100vw;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  img {
    margin-inline: 1rem;
    height: 2.5rem;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 1rem;
    font-family: Poppins;
    a {
      color: #c8c8c8;
      text-decoration: none;
      font-size: 1rem;
      margin: 0 0.75rem;
      &:hover {
        color: #fff;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    height: 80px;
    padding: 1.5rem 3rem;
    img {
      margin-inline: 2.5rem;
      height: 3.5rem;
    }
    nav {
      padding: 0 2rem;
    }
    a {
      font-size: 1rem;
    }
  }
}
