#about {
  padding: 4rem 2rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 4rem;
  article {
    margin-top: 8rem;
    background-color: #464344;
    color: #fff;
    font-family: Poppins;
    font-size: 1.25rem;
    width: 430px;
    text-align: justify;
    padding: 5rem;
    h2 {
      text-align: center;
      font-family: "Mr De Haviland", cursive;
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  }
}
