@use "@/styles/variables" as *;

#about {
  article {
    background-color: var(--backgroundAlt);
    color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    width: 100%;
    text-align: justify;
    padding: 2rem;
  }

  @media (max-width: $breakpoint-md) {
    .content {
      padding: 0;
      img {
        width: 100vw;
        height: auto;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    .content {
      display: flex;
      align-items: flex-start;
      flex-direction: row-reverse;
      gap: 4rem;
      article {
        margin-top: 8rem;
        padding: 5rem;
        width: 430px;
        font-size: 1.25rem;
      }
    }
  }
}
