@use "@/styles/variables" as *;

#about {
  img {
    width: 100vw;
    height: auto;
    object-fit: contain;
  }
  @media (max-width: $breakpoint-md) {
    .content {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }

  @media (min-width: $breakpoint-lg) {
    .content {
      display: flex;
      align-items: flex-start;
      flex-direction: row;
      gap: 4rem;
      img {
        width: 500px;
      }
      article {
        margin-top: 8rem;
        width: 430px;
      }
    }
  }
}
