@use "@/styles/variables" as *;

$textColor: #464443;

#contact {
  background-color: #cec7c1;
  color: $textColor;
  gap: 1rem;
  h3 {
    color: $textColor;
    font-weight: bold;
    font-size: 1.75rem;
  }
  h4 {
    color: $textColor;
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  .contactForm {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.5rem;
    width: 100%;
    h4,
    p {
      font-family: Poppins;
    }

    input,
    textarea {
      background-color: white;
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      font-size: 1rem;
      min-height: 40px;
      font-family: Poppins;
      color: $textColor;
      width: 100%;
      &:focus-visible {
        outline: none;
      }
    }
    .button {
      margin-top: 1rem;
    }
  }

  h2.react-datepicker__current-month {
    font-size: 1rem !important;
  }

  @media (min-width: $breakpoint-md) {
    .contactForm {
      width: 480px;
    }
  }
}
