@use "@/styles/variables" as *;

#contact {
  background-color: #cec7c1;
  color: var(--textColor);
  gap: 1rem;
  h3 {
    color: var(--textColor);
    font-weight: bold;
    font-size: 2rem;
  }
  h4 {
    color: var(--textColor);
    margin-top: 1.5rem;
    font-size: 1rem;
  }
  .contactForm {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.5rem;
    width: 100%;
    h4,
    p {
      font-family: Poppins;
    }
    .button {
      margin-top: 1rem;
    }
  }

  h2.react-datepicker__current-month {
    font-family: unset;
    font-size: 1rem !important;
  }

  @media (min-width: $breakpoint-md) {
    .contactForm {
      width: 480px;
    }

    h3 {
      font-size: 2.5rem;
    }
  }
}
