:root {
  --primary: #8d8271;
  --primaryAlt: #71685a;
  --textColor: #464344;
  --backgroundAlt: var(--textColor);
}

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
